services:
  postgres:
    image: postgres:18
    container_name: dev-postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql
      - ./codia_app_db:/docker-entrypoint-initdb.d

volumes:
  postgres_data:

